<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Sidebar</title>

    <link rel="stylesheet" href="sidebar_underwriter.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>

    <div class="sidebar">

        <div class="logo-section">
            <div>
                <img src="../../assests/images/logo.png" class="shield-logo">
            </div>

            <div class="logo-text">
                <h2>Drive<span>Secure</span></h2>
                <p>UnderWriter Portal</p>
            </div>
        </div>

        <ul class="menu">

            <li class="menu-item">
                <a href="../../underwriter/underwriter_dashboard/underwriter_dashboard.html" target="_parent">
                    <i class="fa-solid fa-house"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="../../underwriter/create_vehicle_insurance/create_vehicle_insurance.html" target="_parent">
                    <i class="fa-solid fa-file-circle-plus"></i>
                    <span>Create Policy</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="../../underwriter/renew_policy/renew_policy.html" target="_parent">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    <span> Renew Policy</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="../../underwriter/update_policy/update_policy.html" target="_parent">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span>Update Policy</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="../../underwriter/view_policy/view_policy.html" target="_parent">
                    <i class="fa-solid fa-file-lines"></i>
                    <span>View Policy</span>
                </a>
            </li>


        </ul>
        <div class="sidebar-image">
          <img src="../../assests/images/sidebar.png" alt="">  
        </div>
        <div class="logout">
            <a >
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Logout</span>
            </a>
        </div>

    </div>

    <script src="sidebar_underwriter.js"></script>

</body>
</html>