<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Sidebar</title>

    <link rel="stylesheet" href="sidebar.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>

    <div class="sidebar">

        <div class="logo-section">
            <div >
                <img src="../../assests/images/logo.png" class="shield-logo">
            </div>

            <div class="logo-text">
                        <h2>Drive<span>Secure</span></h2>
                        <p>Admin Portal</p>
            </div>
        </div>

        <ul class="menu">

            <li class="menu-item">
                <a href="../../admin/admin_dashboard/admin_dashboard.html" target="_parent">
                    <i class="fa-solid fa-house"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="../../admin/register_underwriter/register_underwriter.html" target="_parent">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>Register Underwriter</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="../../admin/search_underwriter/search_underwriter.html" target="_parent">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span>Search Underwriter</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="../../admin/update_password/update_password.html" target="_parent">
                    <i class="fa-solid fa-key"></i>
                    <span>Update Password</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="../../admin/delete_underwriter/delete_underwriter.html" target="_parent">
                    <i class="fa-solid fa-trash"></i>
                    <span>Delete Underwriter</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="../../admin/view_underwriter/view_underwriters.html" target="_parent">
                    <i class="fa-solid fa-users"></i>
                    <span>View All Underwriters</span>
                </a>
            </li>

            

        </ul>
        
        <div class="logout">
            <a >
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Logout</span>
            </a>
        </div>

    </div>

    <script src="sidebar.js"></script>

</body>
</html>